In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2

# Establish connection to the PostgreSQL database
conn = psycopg2.connect(
    host="localhost",
    database="edi_clinicaltrials",
    user="ediuser",
    password="12345"
)

# Function to run a SQL query and return a DataFrame
def run_query(query):
    return pd.read_sql(query, conn)

In [2]:
# Query basic information from the studies table
query = "SELECT nct_id, title, overall_status, study_type, updated_date FROM studies LIMIT 20;"
studies_df = run_query(query)
studies_df.head()

/tmp/ipykernel_25491/1482373325.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

DatabaseError: Execution failed on sql 'SELECT nct_id, title, overall_status, study_type, updated_date FROM studies LIMIT 20;': column "overall_status" does not exist
LINE 1: SELECT nct_id, title, overall_status, study_type, updated_da...
                              ^

In [3]:
# Count studies by overall_status
status_counts = studies_df['overall_status'].value_counts()

# Plot a bar chart
plt.figure(figsize=(8, 6))
status_counts.plot(kind='bar')
plt.title('Distribution of Study Overall Status')
plt.xlabel('Overall Status')
plt.ylabel('Number of Studies')
plt.show()

NameError: name 'studies_df' is not defined

In [4]:
# Query sponsors table
sponsors_query = "SELECT study_id, sponsor_name, sponsor_type FROM sponsors;"
sponsors_df = run_query(sponsors_query)

# Merge sponsor info with studies using the study_id. 
# (Assuming you later include study_id in your studies query for joining)
# For demonstration, we assume studies_df contains a study_id column.
if 'id' in studies_df.columns:
    merged_df = pd.merge(studies_df, sponsors_df, left_on='id', right_on='study_id', how='left')
    merged_df.head()
else:
    print("Ensure that your studies query returns the primary key (id) to join with sponsor data.")

/tmp/ipykernel_25491/1482373325.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, conn)

NameError: name 'studies_df' is not defined